@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Barlow', 'Fraunces', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar{
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgb(62,191,255);
}

.nav-bar{
    background-color: rgb(62,191,255);
    left: 0;
    top: 0;
    padding: 1rem 2.5rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .brand h1{
    font-family: 'Fraunces', sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
}

.nav-bar .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .nav-list .hamburger-img{
    transition: .3s ease transform;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    position: absolute;
}

.nav-bar .nav-list ul {
    position: absolute;
    width: 90%;
    top: 0;
    left: 2.5rem;
    background-color: hsl(0, 0%, 100%);
    padding: 5rem 0;
    transform: translateY(-87%);
    transition: .3s ease transform;
    text-align: center;
    z-index: -1;
}

.nav-bar .nav-list ul li {
    list-style: none;
    display: block;
    position: relative;
    padding: 1.6rem 1rem;
}

.nav-bar .nav-list ul li a {
    font-size: 1.7rem;
    text-decoration: none;
    color: grey;
    display: block;
    letter-spacing: .15rem;
    padding: .5rem 3rem;
    font-family: 'Barlow', sans-serif;
}

.nav-bar .nav-list.open ul{
    transform: translateY(50px);
}

.container .nav-bar .nav-list .contact {
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 217, 0);
    color: #000;
    padding: 1rem ;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Fraunces', sans-serif;
}

.head-section {
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head-section .head-section-info{
    width: 100%;
    text-align: center;
}

.head-section .head-section-info .heading {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fraunces', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    top: 11rem;
    position: absolute;
    width: 100%;
    letter-spacing: .5rem;
}

.head-section .head-section-info .arrow-down {
    width: 100%;
    position: absolute;
    top: 28.5rem;
    text-align: center;
}
 
.about-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
}

.about-section .about{
    width: 100%;
    height: auto;
}

.about-section .about2{
    width: 100%;
    height: auto;
}

.about-section .about .about-img-wrapper{
    background-image: url(../images/desktop/image-transform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 50rem;
}

.about-section .about .about-info{
    width: 100%;
    padding: 5rem 7rem 7rem;
    min-height: 50rem;
}

.about-section .about .about-info .about-info-heading{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 3.5rem;
    padding: 3rem;
}

.about-section .about .about-info .about-info-desc{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: grey;
    line-height: 2.8rem;
    padding-bottom: 2rem;
}

.about-section .about .about-info .learn {
    margin-top: 3rem;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 12.5rem;
}

.about-section .about .about-info .learn .learn-more{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Fraunces', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    padding: 0 0.2rem 0 0.2rem;
}

.about-section .about .about-info .learn .learn-more2{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Fraunces', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    padding: 0 0.2rem 0 0.2rem;
}

.about-section .about2 .about-img-wrapper2{
    background-image: url(../images/desktop/image-stand-out.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 50rem;
}

.about-section .about2 .about-info{
    width: 100%;
    padding: 5rem 7rem 7rem;
    min-height: 50rem;
}

.about-section .about2 .about-info .about-info-heading{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 3.5rem;
    padding: 3rem;
}

.about-section .about2 .about-info .about-info-desc{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: grey;
    line-height: 2.8rem;
    padding-bottom: 2rem;
}

.about-section .about2 .about-info .learn {
    margin-top: 3rem;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 12.5rem;
}

.about-section .about2 .about-info .learn .learn-more{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Fraunces', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    padding: 0 0.2rem 0 0.2rem;
}

.about-section .about2 .about-info .learn .learn-more2{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Fraunces', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    padding: 0 0.2rem 0 0.2rem;
}


.about-section .about .about-info .learn .learn-more::after{
    content: '';
    position: absolute;
    left: 0;
    top: 1.4rem;
    width: 100%;
    height: 1rem;
    background-color: hsla(51, 100%, 49%, 0.397);
    z-index: -1;
    border-radius: 10px;
}

.about-section .about2 .about-info .learn .learn-more2::after{
    content: '';
    position: absolute;
    left: 0;
    top: 1.4rem;
    width: 100%;
    height: 1rem;
    background-color: hsla(7, 99%, 70%, 0.39);
    z-index: -1;
    border-radius: 10px;
}

.about-section .about .graphics,
.about-section .about .photography{
    width: 100%;
    padding: 5rem 7rem;
    text-align: center;
    min-height: 65rem;
}

.about-section .about .graphics{
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about-section .about .graphics .graphic-heading {
    font-size: 1.5rem;
    position: relative;
    top: 35rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: hsl(167, 40%, 24%);
}

.container .about .graphics .graphic-design-desc {
    color: hsl(167, 40%, 24%);
    font-size: 1.8rem;
    font-weight: 600;
    font-family:'Barlow', 'Arial Narrow', Arial, sans-serif;
    line-height: 2.5rem;
    position: relative;
    top: 38rem;
}

.about-section .about .photography .photography-heading {
    font-size: 1.5rem;
    position: relative;
    top: 35rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: hsl(198, 62%, 26%);
}

.container .about .photography .photography-desc {
    font-size: 1.8rem;
    font-weight: 600;
    font-family:'Barlow', 'Arial Narrow', Arial, sans-serif;
    line-height: 2.5rem;
    position: relative;
    top: 38rem;
    color: hsl(198, 62%, 26%);
}

.about-section .about .photography{
    background-image: url(../images/desktop/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.testimonials .client-testimonials {
    position: relative;
    background-color: hsl(0, 0%, 100%);;
    text-align: center;
    min-height: 50rem;
    width: 100%;
    padding: 5rem;
}

.testimonials .client-testimonials .testimonials-heading{
    text-transform: uppercase;
    color: grey;
    padding: 0 0 5rem 0;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: .5rem;
    width: 100%;
}

.testimonials .client-testimonials .client-testimonials-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.testimonials .client-testimonials .client-testimonials-wrapper .testimonial-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.testimonials .client-testimonials .client-testimonials-wrapper .clients .testimonial-desc {
    padding: 0 2.5rem 2rem 2.5rem;
    line-height: 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(151, 142, 142);
    font-family: 'Barlow', sans-serif;
}

.testimonials .client-testimonials .client-testimonials-wrapper .clients .testimonial-name {
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1.3rem;
}

.testimonials .client-testimonials .client-testimonials-wrapper .clients .testimonial-position{
    color: rgb(151, 142, 142);;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 7rem;
}

.gallery{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery .gallery-imgs1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gallery .gallery-imgs1 .img1 {
    background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}

.gallery .gallery-imgs1 .img2 {
    background-image: url(../images/desktop/image-gallery-orange.jpg);
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}

.gallery .gallery-imgs2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gallery .gallery-imgs2 .img3 {
    background-image: url(../images/desktop/image-gallery-cone.jpg);
    width: 50%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}

.gallery .gallery-imgs2 .img4 {
    background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
    width: 50%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}

footer{
    text-align: center;
    min-height: 30rem;
    width: 100%;
    padding: 5rem 0 5rem 0;
    background-color: rgba(31, 146, 117, 0.589);;
}

.footer-section .footer-wrapper .footer-heading .sunnyside{
    color: hsl(168, 83%, 25%);
    text-decoration: none;
    padding: 0 .2rem 2rem 0;
    font-size: 2rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
}

footer .footer-wrapper .footer-nav-list {
    padding: 0 .2rem 2.5rem .2rem;
    margin-bottom: 2.5rem;
}

footer .footer-wrapper .footer-nav-list .footer-nav li{
    display: inline-block; 
    list-style: none;
    padding: 2rem 2rem 0 2rem;
}

footer .footer-wrapper .footer-nav-list .footer-nav li a{
    color: hsla(168, 83%, 25%, 0.815);
    font-family: 'Barlow';
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
}

footer .footer-wrapper .footer-nav-list .nav:hover {
    color: #fff;
}

footer .footer-wrapper .socials .socials-list li{
    display: inline-block;
    list-style: none;
    padding: 4rem 2rem 4rem 2rem;
}

footer .footer-wrapper .socials .socials-list .icon:hover{
    fill: #fff;
    cursor: pointer;
}

@media only screen and (min-width: 768px){
    .container{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bar .nav-list .hamburger-img{
        display: none;
    }

    .nav-bar{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 2.5rem;
    }

    .nav-bar .nav-list{
        width: 90%;
    }

    .nav-bar .nav-list ul{
        width: 100%;
        transform: translateX(0);
        position: initial;
        z-index: initial;
        display: inline-block;
        background-color: transparent;
        padding: 0;
        text-align: right;
    }

    .nav-bar .nav-list ul li{
        display: inline-block;
        list-style: none;
        padding: 0;
    }

    .nav-bar .nav-list ul li a{
        color: #fff;
        padding: 0 2.5rem;
    }

    .nav-bar .nav-list .contact{
        color: #000;
        background-color: #fff;
    }

    .nav-bar .nav-list .contact:hover{
        color: #fff;
        background-color: rgb(75, 177, 211);
    }

    .head-section{
        padding: 7rem 0;
        min-height: 82rem;
        position: relative;
        width: 100%;
    }

    .head-section .head-section-info .heading{
        padding: 8rem 0;
    }

    .head-section .head-section-info .arrow-down{
        top: 37rem;
        position: absolute;
        text-align: center;

    }

    .about-section{
        width: 100%;
        height: auto;
        display: flex;
    }

    .about-section .about{
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        min-height: 50rem;
    }

    .about-section .about2{
        display: flex;
        width: 100%;
        flex-direction: row;
        min-height: 50rem;
    }

    .about-section .about .about-img-wrapper{
        width: 50%;
        min-height: 50rem;
    }

    .about-section .about2 .about-img-wrapper2{
        width: 50%;
        min-height: 50rem;
    }

    .about-section .about .about-info{
        width: 50%;
        min-height: 50rem;
        padding: 10rem 7rem 7rem;
        text-align: left;
    }

    .about-section .about2 .about-info{
        width: 50%;
        min-height: 50rem;
        padding: 10rem 7rem 7rem;
        text-align: left;
    }

    .about-section .about .about-info .about-info-heading{
        text-align: left;
        font-size: 4rem;
        padding: 3rem 0 3rem 0;
        font-weight: 900;
    }

    .about-section .about2 .about-info .about-info-heading{
        text-align: left;
        font-size: 4rem;
        padding: 3rem 0 3rem 0;
        font-weight: 900;
    }

    .about-section .about .about-info .about-info-desc{
        text-align: left;
    }

    .about-section .about2 .about-info .about-info-desc{
        text-align: left;
    }


    .about-section .about .about-info .learn{
        text-align: left;
        margin-top: 5rem;
        z-index: 1;
        width: 12.5rem;
    }

    .about-section .about2 .about-info .learn{
        text-align: left;
        margin-top: 5rem;
        z-index: 1;
        width: 12.5rem;
    }

    .about-section .about .about-info .learn .learn-more::after{
        content: '';
        position: absolute;
        left: 0;
        top: 1.4rem;
        width: 100%;
        height: 1rem;
        background-color: hsla(51, 100%, 49%, 0.397);
        z-index: -1;
        border-radius: 10px;
    }

    .about-section .about2 .about-info .learn .learn-more2::after{
        content: '';
        position: absolute;
        left: 0;
        top: 1.4rem;
        width: 100%;
        height: 1rem;
        background-color: hsla(7, 99%, 70%, 0.39);
        z-index: -1;
        border-radius: 10px;
    }

    .about-section .about2 .about-info .learn .learn-more2:hover::after{
        content: '';
        position: absolute;
        left: 0;
        top: 1.4rem;
        width: 100%;
        height: 1rem;
        background-color: hsl(7, 99%, 70%);
        z-index: -1;
        border-radius: 10px;
    }


    .about-section .about .about-info .learn .learn-more:hover::after{
        content: '';
        position: absolute;
        left: 0;
        top: 1.4rem;
        width: 100%;
        height: 1rem;
        background-color: hsl(51, 100%, 49%);
        z-index: -1;
        border-radius: 10px;
    }

    .testimonials {
        width: 100%;
        height: auto;
        display: flex;
    }

    .testimonials .client-testimonials{
        padding: 20rem 0 10rem 0;
    }

    .testimonials .client-testimonials .client-testimonials-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .testimonials .client-testimonials .testimonials-heading{
        font-size: 1.2rem;
        padding-bottom: 8rem;
    }

    .testimonials .client-testimonials .client-testimonials-wrapper .clients .testimonial-desc{
        padding-bottom: 8rem;
    }

    .gallery{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .gallery .gallery-imgs1,
    .gallery .gallery-imgs2{
        width: 50%;
    }

    .gallery .gallery-imgs1 .img1{
        height: 45rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .gallery .gallery-imgs1 .img2{
        height: 45rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .gallery .gallery-imgs2 .img3{
        height: 45rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .gallery .gallery-imgs2 .img4{
        height: 45rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .head-section .head-section-info .heading {
        font-size: 4.5rem;
        font-weight: 700;
        letter-spacing: .5rem;
    }
}